.home {
  display: flex;
  height: 100vh;
  background-color: #f1f6f9;
  overflow: hidden;
}

.home__footer {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 5px;
}

.home__footer > a {
  color: gray;
  font-size: 10px;
  cursor: pointer;
  text-decoration: none;
}

.home__left {
  flex: 0.7;
  padding: 0 30px;
}

.home__right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: #ffffff;
  margin: 20px 0;
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px;
}

.home__cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

@media (max-width: 815px) {
  .home {
    flex-direction: column;
    overflow: scroll;
  }

  .home__footer {
    position: relative;
  }

  .home__right {
    margin: 20px 30px;
  }
}
