.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #14274e;
}

.header__select {
  width: 120px;
  height: 35px;
}

@media (max-width: 500px) {
  .header > h1 {
    font-size: 21px;
  }
  .header__select {
    width: 80px;
  }
}
