.table {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.table__cases {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow-y: scroll;
  max-height: 350px;
  width: 100%;
}

.table__cases > tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 15px;
  flex: 1;
}

.table__cases > tr:nth-last-child(odd) {
  background-color: #ccc;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-height: 870px) {
  .table__cases {
    max-height: 400px;
  }
}

@media (min-height: 1000px) {
  .table__cases {
    max-height: 450px;
  }
}
